<footer class="py-5">
    <div class="container">
        <div class="row ">
            <div class="col-4">
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <h2>SOCIAL</h2>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class="fa-2x fa-brands fa-linkedin blanc"></i></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class="fa-2x fa-brands fa-twitter blanc"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-2x fa-brands fa-facebook blanc"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-2x fa-brands fa-instagram blanc"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-2x fa-brands fa-tiktok blanc"></i></a>
                    </li>
                    
                  </ul>
            </div>
            <div class="col-4">
                <div class="form">
                    <h2 class="text-center">NEWSLETTER</h2>
                    <form action="">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></span>
                            <input type="email" class="form-control" placeholder="email" >
                          </div>
                          <button type="button" class="btn btn-info btn-lg">Abonnez-vous</button>

                          
                    </form>
    
                </div>
            </div>
            <div class="col-4">
                <div class="adresse">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                          <h2>ADRESSE</h2>
                        </li>
                        <li class="nav-item">
                          <p >28 BP 942 Abidjan 28</p>
                        </li>
                        <li class="nav-item">
                          <p><i class="fa-solid fa-location-dot"></i> Cocody Riviera Palmeraie, Abidjan, Côte d’Ivoire</p>
                        </li>
                        <li class="nav-item">
                          <p ><i class="fa-solid fa-phone"></i> +225 07 07 28 81 81 / +225 07 07 90 44 00</p>
                        </li>
                        <li class="nav-item">
                          <p><i class="fa-light fa-at"></i> info@lifiled.africa</p>
                        </li>
                       
                      </ul>
    
                </div>
            </div>
    

        </div>
        <div class="row">
            <div class="signe">
                <p class="text-center"> LIFILED <i class="fa-solid fa-copyright"></i> 2022 </p>    
            </div>
        </div>
       
       
    </div>
</footer>
