@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');



h1,h5{
    font-family: 'Merriweather', serif;
    color:#1ea4d9;
}

p{
    font-family: 'Merriweather', serif;
    text-align: justify;
}