<section id="solution " class="py=2">
    <div class="container-fluid">
        <div class="row">
            <h1 class="text-center py-2">Nos Solutions</h1>
        </div>
        <div class="row">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <img src="../../assets/gallerie/photo/VILLAGE (2).jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">ENERGIE RENOUVELABLE</h5>
                      <p class="card-text">Accès à l’électricité et à la
                        lumière via des panneaux
                        solaires</p>
                    </div>
                    
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="../../assets/gallerie/photo/WhatsApp Image 2022-05-04 at 08.06.35.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">INTERNET HAUT-DÉBIT</h5>
                      <p class="card-text">De 25 à 300 Mbps via LiFi
                        (brevet et propriété
                        intellectuelle déposée)</p>
                    </div>
                    
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="../../assets/gallerie/WhatsApp Image 2022-09-27 at 14.37.59.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">CONTENU MULTIMÉDIA</h5>
                      <p class="card-text">Accès à l’information
                        pour les étudiants et les
                        agriculteurs</p>
                    </div>
                    
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>

<section id="produit"  class="py-5">
    <div class="container-fluid">
        <div class="row">
            <h1 class="text-center py-2">Nos Produits</h1>
        </div>
        <div class="row">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <img src="../../assets/produits/ampoule.PNG" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">SMART LAMPE LED LIFI</h5>
                    </div>
                   
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="../../assets/produits/kit.PNG" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">KIT SOLAIRE INDIVIDUEL LIFI</h5>
                    </div>
                   
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="../../assets/produits/lampadaireI.PNG" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">LAMPADAIRE AUTONOME SOLAIRE
                        INTELLIGENT</h5>
                    </div>
                   
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>



<section id="activite" class="py-5">
    <div class="container">
      <div class="row">
        <h1 class="text-center py-2">Nos Activités</h1>
    </div>
        <div class="row">
            <div class="card mb-3 border-0 rounded-0">
                <div class="row ">
                  <div class="col-md-6">
                    <video class="h-100 w-100">
                        <source src="../../assets/Animations/ANIMATION LAMPADAIRE LIFI.mp4" type="video/mp4">
                    </video>
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <h5 class="card-title"> EN ZONE RURALE OU ENCLAVÉE</h5>
                      <p class="card-text">UTILISATION PRODUCTIVE DE L’ÉNERGIE<br>
                        TÉLÉDIFFUSION<br>
                      INTERNET HAUT-DÉBIT</p>
                      
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="row">
            <div class="card mb-3 border-0 rounded-0">
                <div class="row ">
                  <div class="col-md-6">
                    <img src="../../assets/produits/WhatsApp Image 2022-09-27 at 14.37.58.jpeg" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <h5 class="card-title"> EN VILLE (SMART CITY)</h5>
                      <p class="card-text"> EFFICACITÉ ÉNERGÉTIQUE<br>
                        DÉTECTEURS DE MOUVEMENTS<br>
                        INTERNET HAUT-DÉBIT<br>
                        CAPTEURS IOT</p>
                      
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="row">
          <div class="card mb-3 border-0 rounded-0">
              <div class="row ">
                <div class="col-md-6">
                  <img src="../../assets/produits/WhatsApp Image 2022-09-27 at 14.37.58.jpeg" alt="" class="img-fluid">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h5 class="card-title"> COLLECTE DE DONNÉE ENVIRONEMENTAUX</h5>
                    <p class="card-text text-uppercase">Les
                      lampadaires d’éclairage public solaires autonomes intégrés aux capteurs IOT 
                      permettent de collecter de l’information liée à notre environnement,<br> telles que le taux de
                      carbone, le taux de pluviométrie, le taux d’ensoleillement, le taux de particules fines,
                      tout ceci remontés sur un dashboard qui permet d’analyser en temps réel, la qualité de
                      l’air et de l’environnement afin de prendre les bonnes décisions pour réduire le
                      réchauffement climatique. </p>
                    
                  </div>
                </div>
              </div>
            </div>
      </div>
        
    </div>

</section>



