@font-face {
    font-family: 'Century';
    src: url(../../../assets/font/GOTHICB0.TTF);
}

@font-face {
    font-family: 'Arial';
    src: url(../../../assets/font/ArialTh.ttf);
}



.nav-link{
    color:  #1ea4d9;
    text-decoration: none;
    margin: 0 2rem;
    padding-left: 12px;
    font-size: 20px;
    font-family: 'Century', sans-serif;
    
}

.active{
    font-weight: bolder;
    text-decoration: underline;
    color: #f2cb05 !important;
    font-size: 25px;
    font-family: 'Century', sans-serif;
}

nav{
    height: 132px;
    border-bottom: 4px solid #1ea4d9;
    background-color: #091e3e !important ;
    // background-color: #f2cb05 !important ;
    .navbar-toggler{
        background-color: #091e3e;
    }
.logo{
    height: 128px !important;
}
}