<section id="carrousel" class="py-5">
    <div class="container-fluid">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="https://i.postimg.cc/nzNDPg5b/photovoltaic-system-2742302.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h1 class="text-light"> LIFI pour Eclairer l'AFRIQUE</h1>
                  
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="https://i.postimg.cc/hGG30QTz/pexels-spacex-586056.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h1 class="text-light" > LIFI pour Connectez L' AFRIQUE</h1>
                 
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://i.postimg.cc/rmmgS66S/earth-1756274.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h1 class="text-light"> L' Espoir crée par la Lumière dans L'obscurité</h1>
                 
                </div>
              </div>
            </div>
            <button class="carousel-control-prev text-light" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next text-light" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</section>

<section id="open" class="py-5">
    <div class="container">
        <div class="row">
            <div class="card mb-3 border-0 rounded-0">
                <div class="row ">
                  <div class="col-md-6">
                    <iframe class="h-100 w-100" [src]="getSafeurl()" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media" allowfullscreen></iframe>
                        
                
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <h1 class="card-title"> LIFILED</h1>
                      <p class="card-text">Créée en 2014,<br> LIFILED est une startup spécialisée dans la transmission de données
                        par la lumière.<br> Grâce à sa solution trois (3) en 1, elle permet d’éclairer les zones
                        reculées, de les connecter à internet grâce à la technologie du LIFI, l’internet par la
                        lumière et la mise à disposition de contenus dynamiques pour l’éducation et pour le
                        contenu agricole.</p>
                      
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>

</section>

<section id="chiffre" class="py-5">
  <div class="container-fluid ">
    <div class="row">
      <div class="atout d-flex justify-content-between">
        <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <h2 class="card-title text-center"> 5 ans de R&D <br> en France</h2> 
          </div>
        </div>
        <div class="card text-bg-info mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <h2 class="card-title">Leader du LIFI <br> en Afrique</h2>
          </div>
        </div>
        <div class="card text-bg-light mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <h2 class="card-title text-center">56000 utilisateurs <br> dans 8 pays</h2>
          </div>
        </div>
        <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <h2 class="card-title text center">95% de taux <br> de
              réabonnement</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="vision " class="py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-3 border-0 rounded-0">
          <div class="row">
            <div class="col-md-8">
              <img src="https://i.postimg.cc/pLFwFFQ2/VILLAGE-ENFANT.jpg" class="img-fluid" alt="...">
            </div>
            <div class="col-md-4">
              <div class="card-body">
                <h1 class="card-title text-center">Notre Vision</h1>
                <p class="card-text text-center">Eclairer les villes et villages africains <br>
                  afin de les  interconnecter, telle est<br>
                  notre vision<br>
                  Pour L'avenir de L'afrique </p>
                  <h5 class="text-center">Monsieur BALMA</h5>
              </div>
            </div>
          </div>
        </div>

      </div>
      
    </div>
  </div>
</section>
<section id="shop"class="py-5" >
  <div class="container-fluid">
    <div class="row mx-auto">
      <h1 class="text-center jaune">Nos Produits</h1>
  </div>
  <div class="row">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="https://i.postimg.cc/Lsfm2WQ3/ampoule.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">SMART LAMPE LED LIFI</h5>
              <button type="button" class="btn btn-warning py-2">Voir plus</button>
            </div>
           
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://i.postimg.cc/fb4h2KWt/kit.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title py-5">KIT SOLAIRE INDIVIDUEL LIFI</h5>
              <button type="button" class="btn btn-warning py-2">Voir plus</button>
            </div>
           
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://i.postimg.cc/sgGr48zC/lampadaire-I.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">LAMPADAIRE AUTONOME SOLAIRE
                INTELLIGENT</h5>
                <button type="button" class="btn btn-warning py-2">Voir plus</button>

            </div>
           
          </div>
        </div>
      </div>
</div>
    
  </div>
</section>

<section id="soluce"class="py-5" >
  <div class="container-fluid">
    <div class="row mx-auto">
      <h1 class="text-center py-2 jaune">Nos offres</h1>
  </div>
        <div class="atout d-flex justify-content-between">
        <div class="card text-bg-success mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <h2 class="card-title text-center"> 5 ans de R&D <br> en France</h2> 
          </div>
        </div>
        <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <h2 class="card-title">Leader du LIFI <br> en Afrique</h2>
          </div>
        </div>
        <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <h2 class="card-title text center">95% de taux <br> de
              réabonnement</h2>
          </div>
        </div>
      </div>
    
  </div>
</section>
