@font-face {
    font-family: 'Century';
    src: url(../../assets/font/GOTHICB0.TTF);
}

@font-face {
    font-family: 'Arial';
    src: url(../../assets/font/ArialTh.ttf);
}





h1,h5{
    font-family: 'Century', sans-serif;
    color:#1ea4d9;
}

p{
    font-family: 'Arial', sans-serif;
    text-align: justify;
    font-size: 18px;
}

.carousel-control-prev,
.carousel-control-next{
    color:#1ea4d9;
}

.jaune{
    color:#f2cb05;
}